/*___________________________________________Estilos formularios________________________________________*/
.oneFilerow label{
	display: inline-block !important;
	width: 40% !important;
	vertical-align: middle;
}



/*<___________________________________________ CLIENTES ________________________________________________>*/
.span-19{
	width:99%;
}

#searchClient{
	background: url(../img/search.png) no-repeat center;
	background-size: 80% 80%;
	height: 2em;
	width: 2em;
	display: inline-block;
	vertical-align: middle;
	border-radius: 1em;
}
.ui-widget-overlay{
    background-color: rgba(0,0,0,0.2) !important; 
}
#searchClient:hover{
	background-color: rgba(175,175,175,0.5)
}

#searchClient:active{
	background-color: rgba(175,175,175,1.5)
}

#clientData{
	font-size: 1.2em;
	clear:both;
}
#clientData span{
	width: 48%;
	display: inline-block;	
}

#clientData span label{
	display: inline-block;
	margin-right: 1em;
	font-weight: 800;
}

/*<_____________________________________ PAQUETES MANTENIMIENTO _______________________________________>*/
#paquetesM{
	font-size: 1.1em;
}

#paquetesM > div{
	margin:0.3em;
	border-bottom: 1px solid #2d444f;
}

#paquetesM > div span{
	position: relative;
	width: 40%;
	display: inline-block;
	margin-top: 0.3em;
}

#paquetesM > div label{
	font-weight: 800;
	color:#666e73;
	margin:0 0.3em;
}

#paquetesM > div p{
	margin:0.1em 0.3em;
}

#paquetesM > div h3{
	background-color: #666e73;
	margin-bottom: 0.5em;
	color: white;
	padding: 0.1em 0.8em;
	width: 40%;
}

#paquetesM > div .especificaciones{
	margin: 0.5em;
	padding: 0.3em;
	box-shadow: 0px 0px 2px 1px gray
}

#paquetesM > div .especificaciones h4{
	margin: 0 !important;
	color: #2d444f;
	font-weight: 600;
	font-size: 1.1em;
	border-bottom: 1px solid gray;
}

#paquetesM > div .botones{
	margin: 1em;
}

.paqR .btn{
	display: inline-block;
	text-indent: -9999px;
	height: 2em;
	width: 2em;
	margin:0.2em;
}
.paqR .playTimer{
	background: url(../img/playBtn.png) no-repeat center;
}
/*<_____________________________________ REPORTES _______________________________________>*/

.config {
	border-bottom: 1px solid #2d444f;
	padding-bottom: 1em;
}

.config span {	
	width: 17%;
	display: inline-block;
	margin: 0 1em 0 0;
	vertical-align: middle;
}

.configTec span {	
	width: 20%!important;
}
.configTec span span {	
	width: 95% !important;
}

.config span span {
	width:70%;
	display:block;
	margin: 0 auto;
}

.config span label {
	color:#2d444f;
	font-weight: 700;
	display:block;
}

.config span#contentTipDoc {
	display: none;
}

.button {
	float: right;
	margin-top: 0.5em;
}

/*REPORTES*/
.reporteContent {
	border: 1px solid rgba(0,100,150,0.5);
	width: 95%;
	margin: 2.5em auto 0 auto;
}

.boxInfo{
	clear: both;
	border-bottom: 1px dotted #2d444f;
	width: 95%;
	padding: 0.5em;
	margin: 0 auto 0.5em auto;
	font-size: 1em;
	max-height: 400px;
	overflow-y: auto;
}

.equipos{
	clear: both;
	padding: 0.5em;
	margin: 0 auto 0.5em auto;
	font-size: 1em;
	max-height: 700px;
	overflow-y: auto;
}

.equipo .equipoOrd{
	max-height: 500px;
}

.equipoOrd .ordenes{
	max-height: 300px;
	overflow-y: auto;
}


.servicios h4, .boxInfo h4, .equipos h4{
	background-color: #6399cd;
	color: #EFF4FA;
	font-weight: 700;
	padding: 0.3em;
	width: 99%;
	clear: both;
}

.boxInfo span, .orden span, .equipos span{
	width: 48%;
	display: inline-block;	
}

.boxInfo span label, .orden span label, .equipos span label{
	display: inline-block;
	margin-right: 0.9em;
	font-weight: 800;
}

.boxInfo table, .equipos table, .serviciosOrden table, .paqR table, .detalleMaq table{
	border: 1px solid #D1C9C9;
	width: 95%;
	margin: 0 auto
}

.serviciosOrden table tbody td, .servicios table tbody td{
	border: 1px solid rgba(10,90,70,0.2);
	text-align: right;
}

.serviciosOrden{
	width: 1250px;
}

.boxInfo .orden{
	margin-bottom: 0.5em;
	box-shadow: 0px 2px 2px 2px #cccccc;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	width: 90%;
	margin: 0 auto 0.5em auto;
}

.boxInfo h5, .equipos h5{
	margin: 0.2em 0 0.3em 0;
	background: #9EAEC2;
	padding: 0.2em;
	font-weight: 800;
	width: 99%;
}

.equipos h6{
	margin: 0.1em 0 0.2em 0;
	background: #9EAEC2;
	padding: 0.1em;
	font-weight: 700;
	width: 97%;
}

.ordenes .ordColumn{
	width: 48%;
	margin-bottom: 0.5em;
	display: inline-block;
	min-height: 250px;
	margin: 0 0.2em;
	float: left;
}

.contentOrden{
	height: 405px !important;
	position:relative;
	margin-bottom: 0.5em;
}

.contentOrden .ordenes.boxInfo{
	width: 79% !important;
	display: inline-block;
	position: relative;
	margin:0 auto;
}

.contentOrden .orden{
	width: 95%;
}

.contentOrden ul.ordenList{
	width: 15% !important;
	display: inline-block;
	float: left;
	position: relative;
	margin: 0.3em;
	list-style: none;
	text-align: center;
	max-height: 400px !important;
	overflow-y: auto;
}

.contentOrden h4{
	background-color: #6399cd;
	color: #EFF4FA;
	font-weight: 700;
	padding: 0.2em;
	width: 96%;
	margin: 0 auto;
	margin-bottom: 0.3em;
}

.contentOrden ul.ordenList a{
	font-weight: 800;
	text-decoration: none;
	background-color: #EFEFEF;
	display: block;
	padding: 0.3em;
	border-radius: 2em 0 0;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
	margin: 0.2em 0;
	width: 90%;
}

.totalesContent span{
	display: inline-block;
	width: 30%;
	margin:0.2em;
	background-color:#EFEFEF;
	padding:0.3em;
}

.totalesContent span *{
	display: inline-block;
	font-weight: 800;
	font-size: 1.1em;
	color:#6399cd;
	padding: 0 0.3em;
}

.detalleEquipo{
	width: 900px;
}
.detalleEquipo .row {
	margin:0 !important;
}
.detalleEquipo .row label {
	display: inline-block;
	width: 48%;
	margin: 0 0.2em;
}

#TemplateContentDetalle {
	max-height: 600px;	
	width: 90%;
	overflow-y: auto; 
}

#TemplateContent{
	overflow-x: auto;
	margin-top: 50px;
}

/********Tecnicos**********/
#AllTecs{
	border: 1px solid #ccc;
	margin-top: 0.2em;
	box-shadow: 0px 0px 0px 1px #efefef;
}

#contentBtnTec a {
	color: white;
	text-decoration: none;
	background-color: #555;
	padding: 0.5em 0.5em 0.2em 0.5em;
	font-size: 1.1em;
	border-radius: 1em 1em 0 0;
	box-shadow: 0px -1px 2px 1px black;
	
}

#contentBtnTec a.no-selected {
	opacity: 0.8;
	box-shadow: 0px 0px 4px 1px #ccc;
}

#contentBtnTec a:hover {
	cursor: default;
	text-shadow:0px 0px 1px white;
}