#searchClient{
	background: url(../img/search.png) no-repeat center;
	background-size: 80% 80%;
	height: 2em;
	width: 2em;
	display: inline-block;
	vertical-align: middle;
	border-radius: 1em;
}

#searchClient:hover{
	background-color: rgba(175,175,175,0.5)
}

#searchClient:active{
	background-color: rgba(175,175,175,1.5)
}

#clientData {
	font-size: 1.2em;
}
#clientData span{
	width: 48%;
	display: inline-block;	
}

#clientData span label{
	display: inline-block;
	margin-right: 1em;
	font-weight: 800;
}