/*<___________________________________________ CLIENTES ________________________________________________>*/
.span-19{
	width:99%;
}

#searchClient{
	background: url(../img/search.png) no-repeat center;
	background-size: 80% 80%;
	height: 2em;
	width: 2em;
	display: inline-block;
	vertical-align: middle;
	border-radius: 1em;
}

#searchClient:hover{
	background-color: rgba(175,175,175,0.5)
}

#searchClient:active{
	background-color: rgba(175,175,175,1.5)
}

#clientData{
	font-size: 1.2em;
	clear:both;
}
#clientData span{
	width: 48%;
	display: inline-block;	
}

#clientData span label{
	display: inline-block;
	margin-right: 1em;
	font-weight: 800;
}

/*<_____________________________________ PAQUETES MANTENIMIENTO _______________________________________>*/
#paquetesM{
	font-size: 1.1em;
}

#paquetesM > div{
	margin:0.3em;
	border-bottom: 1px solid #2d444f;
}

#paquetesM > div span{
	position: relative;
	width: 30%;
	display: inline-block;
	margin-top: 0.3em;
}

#paquetesM > div label{
	font-weight: 800;
	color:#666e73;
	margin:0 0.3em;
}

#paquetesM > div p{
	margin:0.1em 0.3em;
}

#paquetesM > div h3{
	background-color: #666e73;
	margin-bottom: 0.5em;
	color: white;
	padding: 0.1em 0.8em;
	width: 40%;
}

#paquetesM > div .especificaciones{
	margin: 0.5em;
	padding: 0.3em;
	box-shadow: 0px 0px 2px 1px gray
}

#paquetesM > div .especificaciones h4{
	margin: 0 !important;
	color: #2d444f;
	font-weight: 600;
	font-size: 1.1em;
	border-bottom: 1px solid gray;
}

#paquetesM > div .botones{
	margin: 1em;
}

.paqR .btn{
	display: inline-block;
	text-indent: -9999px;
	height: 2em;
	width: 2em;
	margin:0.2em;
}
.paqR .playTimer{
	background: url(../img/playBtn.png) no-repeat center;
}
/*<_____________________________________ REPORTES _______________________________________>*/

#config {
	border-bottom: 1px solid #2d444f;
	padding-bottom: 1em;
}

#config span {	
	width: 145px;
	display: inline-block;
	margin: 0 1em 0 0;
	vertical-align: middle;
}

#config span span {
	width:70%;
	display:block;
	margin: 0 auto;
}

#config span label {
	color:#2d444f;
	font-weight: 700;
	display:block;
}

#config span#contentTipDoc {
	display: none;
}

.button {
	float: right;
	margin-top: 0.5em;
}

/*REPORTES*/
.reporteContent {
	border: 1px solid rgba(0,100,150,0.5);
	width: 90%;
	margin: 2.5em auto 0 auto;
}
.boxInfo{
	clear: both;
	border-bottom: 1px dotted #2d444f;
	width: 90%;
	padding: 0.5em;
	margin: 0 auto 0.5em auto;
	font-size: 1em;
}

.boxInfo h4{

	background-color: #6399cd;
	color: #EFF4FA;
	font-weight: 700;
	padding: 0.3em;
	width: 100%;
}

.boxInfo span, .orden span{
	width: 48%;
	display: inline-block;	
}

.boxInfo span label, .orden span label{
	display: inline-block;
	margin-right: 0.9em;
	font-weight: 800;
}

.boxInfo table{
	border: 1px solid #D1C9C9;
	width: 95%;
	margin: 0 auto
}

.boxInfo .orden {
	margin-bottom: 0.5em;
	box-shadow: 0px 2px 2px 2px #cccccc;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	width: 90%;
	margin: 0 auto 0.5em auto;
}

.boxInfo h5{
	margin: 0.2em 0 0.3em 0;
	background: #9EAEC2;
	padding: 0.2em;
	font-weight: 800;
	width: 98%;
}